h1 {
  font-size: 600%;
  font-family: monospace;
  color:#A8FFA8; 
  text-align : center;
}

h2 {
  font-size: 300%;
  font-family: monospace;
  color:#A8FFA8;
  text-align: center;
}

h3 {
    font-size : 20px;
    font-family: monospace;
    color:#A8FFA8;
    text-align: center;
}


list {
    font-size : 17px;
    font-family: monospace;
    color:#A8FFA8;
    text-align: center;
}
